<div class='recipe-dashboard'>
    <div *ngIf='recipesService.recipes | async as recipes'>
        <div class='row recipe-dashboard-header'>
            <h5 class='col-sm-2'>Title</h5>
            <h5 class='col-sm-5'>Description</h5>
            <h5 class='col-sm-1'>Servings</h5>
            <h5 class='col-sm-2'>Prep Time (min)</h5>
            <h5 class='col-sm-2'>Cook Time (min)</h5>
        </div>
        <div *ngFor='let recipe of recipes'>
            <a class='row recipe-dashboard-data' [routerLink]="['/recipes', recipe.uuid]">
                <div class='col-sm-2'>{{recipe.title}}</div>
                <div class='col-sm-5'>{{recipe.description}}</div>
                <div class='col-sm-1'>{{recipe.servings}}</div>
                <div class='col-sm-2'>{{recipe.prepTime}}</div>
                <div class='col-sm-2'>{{recipe.cookTime}}</div>
            </a>
        </div>
    </div>
</div>